<table class="postOverviewTable">
    <thead>
        <th>{{translation.ID}}</th>
        <th>{{translation.postName}}</th>
        <th>{{translation.postCategories}}</th>
        <th>{{translation.postTranslations}}</th>
        <th>{{translation.postIsVisible}}</th>
        <th>{{translation.createdAt}}</th>
        <th>{{translation.createdBy}}</th>
        <th>{{translation.actions}}</th>
    </thead>
    <tbody>
        {{#each postList}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{#each this.postCategories}}{{this.title}} {{/each}}</td>
            <td>{{this.language}} {{#each this.translations}}{{this.language}}{{/each}}</td>
            <td><input type="checkbox" disabled {{#if this.visible}}checked{{/if}}></td>
            <td>{{this.createdAt}}</td>
            <td>{{this.postedByUser.displayName}}{{#unless this.postedByUser}}/{{/unless}}</td>
            <td><a href="/backend/createPost?edit={{this.id}}"><button>{{../translation.edit}}</button></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if categories}}
<div class="categoriesCheckboxes">
    <h3>{{translation.categories}}:</h3><br>
    <ul>
        {{#each categories}}
        <li>
            
            ID {{this.id}}: {{this.title}} - {{this.language}} {{#each this.translations}} {{this.language}} {{/each}}
        </li>
        {{/each}}
        <li><a href="/backend/createCategory" target="_blank">{{translation.addCategory}}</a></li>
    </ul>
</div>
{{/if}}