<!-- Template für statische Seiten -->
<h2>{{content.title}}</h2><br>
{{translation.availableTranslations}}: {{#each page.translations}} <a href="..//{{this.language}}/{{this.urlTitle}}.html">{{this.language}}</a> {{/each}}<br>
{{#each categories}}{{this.title}} {{/each}}<br>
{{translation.createdBy}} {{page.postedByUser.displayName}} {{translation.at}} {{formatDate page.createdAt}}<br><br>
{{content.content}}